// Glass Stickies
.stickies_container{
    background-color: rgba(240, 165, 255, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    pointer-events: none; // Enables click through to elements underneath
}


.sticky_shell{
    background-color: rgba(81, 255, 10, 0);
    width: 500px;
    height: 500px;
    resize: both;
    overflow: auto;
    overflow-y: hidden; // Used for hiding ugly scrollbar
    pointer-events: auto; 
    display: none;
}

.sticky_header{
    width: 100%;
    background-color: rgba(0, 247, 255, 0.3);
    height: 25px;
    padding: 1px;
}

.sticky_status_icon{
    margin-top: 5px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
}

.sticky_status_icon_green{
    background-color: rgb(157, 255, 10);
    animation: pulse_green 2s infinite;
}

.sticky_status_text{
    margin-left: 2px;
    display: none;

}

.sticky_note{
    background-color: rgba(0, 247, 255, 0.1);
    border-color: rgba(0, 247, 255, 0.5);
    pointer-events: inherit;
    width: 100%;
    height: 100%;
    font: 30px URW Chancery L, cursive;
    display: block;
    border: none;
    resize: none;
}



@keyframes pulse_yellow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(131, 150, 24, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(177, 224, 6, 0.7);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(177, 224, 6, 0.7);
	}
}

@keyframes pulse_green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(21, 128, 21, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(9, 180, 9, 0.7);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.3);
	}
}

